.TextCenter {
  text-align: center;
  margin-left: px;
}

.BoxCenters {
  display: auto;
  margin-left: 41%;
}

.inputL {
  margin-left: 60px;
  width: 100px;
}

.inputR {
  margin-left: 10px;
  width: 100px;
}

.inputTL {
  margin-left: 55px;
  height: 10px;
}
